@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Leckerli+One&family=Marck+Script&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*======Global======*/
h1{
    font-size: 6.5 vw;
}
h3{
    font-family:'Merriweather', serif;
    font-size: 1.3rem;
    font-weight: 700;
}
h4{
    font-size: 1.1rem;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    word-spacing: 0.4vw;
}
h6{
    font-size: 0.9rem;
    font-weight: 700;
    color: #6CAA7F;
}
p{
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    line-height: 1.5rem;
}
button{
    background: #6CAA7F;
    border-style: none;
    padding: 0.7rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
   

}
hr{
    background: #27ae60;
    color: #27ae60;
    height: 0.07rem;
}
/*=======BODY======*/
body{
    font-family: 'Montserrat', sans-serif;
}